body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
}

div > img {
  margin: auto;
}

img.grayscale {
  filter: grayscale(100%);
}
img.blur {
  filter: blur(5px);
}
img.invert {
  filter: invert(100%);
}
img.orginal {
  filter: unset;
}
